/*------------------------------------------------------------------
 [Custom Stylesheet]

  Project:	Bridgetech Properties
  Version:	1.2.tab
-------------------------------------------------------------------*/
/*--------------------------- Top Navbar  */
.navbar {
  height: auto; /* Allow the navbar to accommodate different heights */
  padding: 0; /* Remove padding if needed */
  background-color: #ffffff;
  border-bottom: 1px solid #c8c8c9;
}


.navbar .navbar-brand-wrapper {
  background: #ffffff;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  width: 220px;
  height: 40px;
  display: flex;
    align-items: center; /* Vertically align the content */
    justify-content: start; /* Horizontally align the content */
}
.navbar .navbar-menu-wrapper{
  background: #ffffff;
  height: 40px; /* Set the height for the menu wrapper */
  align-self: flex-start;
 
}



/*--------------------------- Side Bar */


.sidebar {

  background: #0a2351;
  border-right: 2px solid #c8c8c9;
  border-left: 2px solid #c8c8c9;
  position: fixed; /* Fix the sidebar position */
    top: 40px;
    left: 0;
    width: 250px; /* Sidebar width */
    height: 100vh; /* Full height of the viewport */
    overflow-y: hidden; /* Enable scrolling inside the sidebar */
    z-index: 1000; /* Ensure it stays on top */
    transition: width 0.25s ease; /* Smooth transition for collapse/expand */
    scrollbar-color: orange #c8c8c9;
    scrollbar-width: none;
}
/* Show the scrollbar when hovering over the sidebar */
.sidebar:hover {
  overflow-y: auto; /* Enable scrolling */
  scrollbar-width: thin; /* Show the thin scrollbar */
}

.main-panel {
  margin-left: 250px; /* Offset by the sidebar width */
  transition: margin-left 0.25s ease, width 0.25s ease; /* Smooth transition for collapse/expand */
  width: calc(100% - 250px); /* Adjust the width to account for the sidebar */
  min-height: calc(100vh); /* Maintain full height */
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
.sidebar-icon-only .main-panel {
  margin-left: 70px;
  width: calc(100% - 70px);
}
/*--------------------------- Sidebar Category Text  */
.sidebar .nav .nav-item.nav-category {
  color: #fff;
  border:none
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 35px 10px 35px;
  color: #fff;
  border-radius: 0px 0px 0px 0px;
  -webkit-transition-duration: 0.45s;
  -moz-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  font-weight: 600;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
  color: #ffaf00;
}

.sidebar .nav .nav-item.active .nav-link i.menu-icon {
  color: #1F3BB3;
}

.sidebar .nav .nav-item.active {
  border-radius: 0px 0px 0px 0px;
  background: #F4F5F7;
  border-top: 1px solid #0576f8;
  border-bottom: 1px solid #0576f8;
}

.sidebar .nav .nav-item.active>.nav-link {
  background: #adb5bd;
  position: relative;
  font-weight: bold;
  border-radius: 0px 0px;
}


.sidebar .nav.sub-menu {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding: 0.25rem 0 0 3.07rem;
  background: #fff;
  padding-bottom: 12px;
}

.sidebar .nav:not(.sub-menu)>.nav-item>.nav-link[aria-expanded="true"] {
  border-radius: 0px;
  background: #fff;
  color: #1F3BB3;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #1F3BB3;
  background: transparent;
  border-left: 5px solid #1F3BB3;

}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: orange;
  background: transparent;
  border-left: 5px solid orange;
}

.sidebar .nav:not(.sub-menu)>.nav-item:hover>.nav-link,
.sidebar .nav:not(.sub-menu)>.nav-item:hover[aria-expanded="true"] {
  background: #adb5bd;
  color: #fff;
}
.company-details {
  display: flex;
  align-items: center;
  padding:30px 20px 10px; 
  width: 250px;
  height: 120px;
  
  
}

.company-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffaf00;  ; /* Blue background for the icon */
  color: white;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 10px;
}

.company-name {
  font-size: 15px;
  font-weight: 500;
  color: white;
}


.home-tab .nav-tabs {
  font-family: "Manrope", sans-serif;
  border-bottom: 2px solid #dee2e6;
}

.home-tab .nav-tabs .nav-item .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  padding: 22px 14px 14px 20px;
  border: none;

  font-family: "Manrope", sans-serif;
  background: transparent;
}

.home-tab .nav-tabs .nav-item .nav-link.active {
  background: transparent;
  color: #1F3BB3;
  border-bottom: 5px solid blue;
}

.home-tab .tab-content {
  padding: 4px 0;
  border: none;
}
.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;

  text-align: justify;
}
/* Add a wrapper around the tabs */
.tab-container {
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent the tabs from wrapping onto a new line */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on mobile */
    scrollbar-color: rgb(59, 59, 59) #F4F5F7;
    scrollbar-width: none;
}
.tab-container:hover {
  overflow-x: auto; /* Enable scrolling */
  scrollbar-width: thin; /* Show the thin scrollbar */
}




/* Ensure the tabs don't stack */
.nav-tabs {
    display: inline-flex; /* Keep tabs in one line */
    flex-wrap: nowrap; /* Disable wrapping of flex items */
}

/* Ensure the tab items are displayed inline */
.nav-item {
    flex-shrink: 0; /* Prevent items from shrinking when they overflow */
}

.contwrapper {

  border: 1px solid #dee2e6;
  padding: 1.5rem;
  background-color: #ffffff;
}

.horizontalline {
  border: 2px solid #dee2e6;
}

.requiredlabel {
  font-size: 20px;
  padding-left: 5px;
  color: red;
}

.validationerror {
  border-color: red;
  background-color: #FFD6D6;
  /* Or any other highlighting style */
}

.label {
  font-weight: 500;
}
.defaulttext{
  font-size: 0.825rem;
}

.checkboxlabel {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4rem;
  vertical-align: top;
  margin-bottom: 0.5rem;
}

.checkboxlabelbody {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4rem;
  vertical-align: top;
  margin-bottom: 0.5rem;
}

.formcontrol2 {
  padding: .4375rem .75rem;
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0px;
  height: 2rem;
  color: #777;
  padding-right: 10px;
  width: 100%;


}

.table-formcontrol2 {
  padding: .4375rem .75rem;
  border: none;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0px;
  height: 1.8rem;
  color: #777;
  padding-right: 120px;
  width: 100%;


}

.header {
  position: sticky;
  top: 0;
}

.formcontrol2.is-invalid {
  border-color: #dc3545;
  /* Red border color for invalid inputs */
  /* Light red background color for invalid inputs */
  color: grey;
  /* Dark red text color for invalid inputs */
  /* Add any other custom styles for invalid inputs with class .formcontrol2 here */
}



.form-controlcreate {
  padding: .4375rem .75rem;
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0px;
  height: 2rem;
  color: #777;
  padding-right: 120px;
  width: 100%;


}

#filter {

  border-radius: 0px;
  border-left: blue solid 10px
}

.filterbody {
  border-left: 5px solid #1F3BB3;
  padding: 15px;
  background-color: #F1F1F1;
}

.word-wrap {
  word-wrap: break-word;
}


.textformcontrol {
  display: block;
  width: 100%;
  padding: 1px 10px 75px 5px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  background-color: color(white);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
}
.card .card-body {
  padding: 1rem 1.5rem;
}

.card .card-title {
  color: #010101;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
}

.card-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
}

.indexcard{
  padding:5px 15px;
  border-right: 2px solid #ddd;
}
.dropdown-menu {
  font-size:0.815rem;
}

.modalheader {
  background-color: darkblue;
}

.modaltitle {
  color: white;
}

/*-------- -------------- a LInks*/
.table td {
  font-size: 0.85rem;
}

.table thead th {
  border: none; 
  border-bottom-width: 1px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #F4F5F7;
}
a.table:link {
  color: #1F3BB3;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

a.table:link {
  color: #1F3BB3;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

a.table:visited {
  color: #0000ff;
}

a.table:hover {
  color: #ffaf00;
  font-size: 0.875rem;
}

a.email:link {
  color: #04050e;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

a.reademail:visited {
  color: #1d1d1f;
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

a.genlink {
  color: #0a0e1f;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

a.genlink:hover {
  color: #ffaf00;
  font-size: 0.875rem;
}



* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}

/*---------------------- Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 25%;
  overflow: hidden;
  height: 1%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.875rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  font-size: 0.875rem;
  font-weight: 800;
  color: #00308F;
  border-left: 5px solid #0000ff;

}

.tab button.active>.number {
  /* Your styles for the active number element go here */
  font-size: 0.875rem;
  font-weight: 800;
  background-color: #0000ff;
  color: #F1F1F1;
  border-left: 5px solid #0000ff;
  margin-left: 5px;
  border-radius: 50%;
  /* Use 50% for a round shape */
  padding: 5px;
  /* 
  /* Add any other styles you want */
}

.tab button.active>.number::before {
  content: '';
  /* Create an empty content for the pseudo-element */
  position: absolute;
  left: -10px;
  /* Adjust this value to control the distance between the number and the line */
  top: 50%;
  height: 100%;
  /* Set the height to cover the entire height of the container */
  width: 2px;
  /* Adjust this value to control the width of the line */
  background-color: #000;
  /* Set the color of the line */
  transform: translateY(-50%);
}

/* -------------------------Style the tab content */
.tabcontent {
  float: left;
  padding: 30px 32px;
  border: 1px solid #ccc;
  width: 75%;
  border-left: 1px solid #ccc;
  height: auto;
  background-color: #ffffff;
}

/*----------------------- Wizard style the tab content */
.wizardtab {
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 25%;
  overflow: hidden;
  height: 1%;
}

.wizardtab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;

}

.wizardtab button>.number {
  /* Your styles for the active number element go here */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-size: 15px;
  ;
  /* Add any other styles you want */
}

.wizardtab button>.connector {
  border-left: 6px solid green;
  height: 50px;
  left: 50%;
  margin-left: 10px;
  top: 0;
}

.wizardtab button:hover {
  background-color: #9E9E9E;
}

.wizardtab button.active {
  background-color: #ccc;
  font-size: 22px;
  font-weight: 800;
  color: #00308F;
  border-left: 5px solid #0000ff;

}

.wizardtab button.active>.number {
  /* Your styles for the active number element go here */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 6px;
  background: #0000ff;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  font-size: 20px;
  /* Add any other styles you want */
}

.wizardtabcontent {
  float: left;
  padding: 20px 32px;
  border: 1px solid #ccc;
  width: 75%;
  border-left: 1px solid #ccc;
  height: auto;
}


/*------------------------ Style the search input field */
input.form-control.form-control-sm.search-input {
  border-radius: 0px;
  border: 2px solid #b6b6b6;
  color: #212121;
  font-weight: 900;
  text-transform: uppercase;
  width: 400px;
  transition: width 0.3s;
  display: block !important;
  /* Add a smooth transition effect for width changes */
}

/* Style the placeholder text */
input.form-control.form-control-sm.search-input::placeholder {
  color: #0a0a0a;
  font-weight: normal;
}

/* Increase width on hover */
input.form-control.form-control-sm.search-input:hover {
  border: 2px solid #ffaf00;
  width: 700px;
  /* Set the desired width on hover */
}

/* Increase width when input is focused */
input.form-control.form-control-sm.search-input:focus {
  border: 2px solid #0000ff;
  width: 700px;
  /* Set the desired width on hover */
}

.dynamicadd {
  border-left: 5px solid #0000ff;
  border-top: 1px solid #b6b6b6;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

}

input,
select {
  padding: 2px;
  border-radius: 0px;
  box-sizing: border-box;
  color: #9E9E9E;
  border: 1px solid #BDBDBD;
  font-size: 0.815rem !important;
  letter-spacing: 1px;
  height: 40px !important;
}


select[readonly] {
  /* Your CSS styles for disabled select elements go here */
  color: #999999d2;
  /* Change text color to gray */
  background-color: #ffffff;
  /* Change background color */
  appearance: none;
  /* Remove default appearance (dropdown arrow) in modern browsers */
  -webkit-appearance: none;
  border: none;
  cursor: not-allowed;
  /* Example cursor style for readonly state */
  pointer-events: none;/
}

input[type="checkbox"] {
  /* Your checkbox styles here */
  padding: 2px;
  border-radius: 0px;
  box-sizing: border-box;
  color: #9E9E9E;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  letter-spacing: 1px;
  height: 17px !important;
}



input:focus,
select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #0000ff !important;
  outline-width: 0 !important;
}

.buttonoutline {
  border: 1px solid #081031;
  border-left: 2px solid #081031;
  color: #081031;

}

.input-group .spanmoney {
  border-right: none;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0px;
}

.input-group .money {
  border-left: none;
}



/*--------------- badges */
.badge {
  display: inline-block;
  border-radius: 20px;
  font-size: 0.65rem;
  line-height: 19px;
  padding: 0 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge:hover {
  transform: scale(1.2);
  /* Increase the size by 10% on hover */
}

a .badge:hover {
  transform: scale(1.2);
}

.badge-active {
  color: #038d21 !important;
  border: 1px solid #038d21 !important;
  background-color: #c0e4c3;
}

.badge-error {
  color: #c50000c4 !important;
  background-color: #f9e2df;
  border: 2px solid #c50000c4 !important;
}

.badge-warning {
  color: #ffaf00 !important;
  background-color: #f7f5e0;
  border: 2px solid #fdac25 !important;
}

.badge-danger {
  color: #f83d3dc4 !important;
  background-color: #f9e2df;
  border: 2px solid #f83d3dc4 !important;
}

.badge-information {
  color: #3302a5c4 !important;
  background-color: #dae3fa;
  border: 2px solid #3302a5c4 !important;
}

.badge-dark {
  color: #1E283D !important;
  background-color: #dae3fa;
  border: 2px solid #1E283D !important;
}

.badge-light {
  color: #6a008a !important;
  background-color: #edd5f5;
  border: 2px solid #6a008a !important;
  margin-top: 5px;
}

.badge-filter {
  color: #000 !important;
  background-color: #E9E9E9;
  border: 2px solid #E9E9E9 !important;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 25px;
  text-transform: capitalize;
}


.text-active {
  color: #038d21 !important;
}

.text-warning {
  color: #fdac25 !important;
}

.text-error {
  color: #c50000c4 !important;
}

.text-information {
  color: #3302a5c4 !important;
}

.text-light {
  color: #6a008a !important;
}

.svgimage {
  float: center;
  width: 450px;
  height: 300px;
}



.statusdot {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 5px;
}

.statusdot-warning {
  background-color: #fdac25;
  color: #fdac25 !important;
  border: 1px solid #fdac25 !important;

}

.statusdot-information {
  background-color: #3302a5c4 !important;
}

.statusdot-active {
  color: #038d21 !important;
  border: 1px solid #038d21 !important;
  background-color: #c0e4c3;
}

.statusdot-error {
  color: #c50000c4 !important;
  background-color: #f9e2df;
  border: 2px solid #c50000c4 !important;
}

.statusdot-danger {
  color: #f83d3dc4 !important;
  background-color: #f9e2df;
  border: 2px solid #f83d3dc4 !important;
}

.statusdot-dark {
  color: #1E283D !important;
  background-color: #1E283D;
  border: 2px solid #1E283D !important;
}

.alert-success {
  color: #10a939;
  background-color: #baf7bf;
  border-color: #10a939;
}

.alert-info {
  color: #215266;
  background-color: #dcf5ff;
  border-color: #cbf0ff;
}

.btn-success {
  background: #10a939;
  color: #ffffff;
}

/* Use a CSS selector to target all the cells in your table */


.row-height {
  height: 40px;
}

/* -------------- Accordion ----------------*/

.accordion-button:not(.collapsed) {
  color: #01050a;
  font-weight: 700;
  background-color: #f8f9fa;
  box-shadow: inset 0 -1px 0 #dee2e6;
}

.accordion-button:focus {
  color: #0c63e4;
  font-weight: 700;
  z-index: 3;
  border-color: #ffffff;
  outline: 0;
  box-shadow: inset 0 -1px 0 #dee2e6;
}


.btn.btn-lg {
  font-size: 0.825rem !important;
  padding: 1.375rem 3.4rem;
}

.btn-outline-primary {
  border: 2px solid #0000ff !important;
  margin-right: 0px;
  font-size: 1rem;
  color: #0000ff !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  /* Set the desired hover color */
}

.btn-outline-danger {
  border: 2px solid red !important;
  font-size: 17px;
  color: red;
}

.btn-outline-danger:hover {
  color: #fff !important;
  /* Set the desired hover color */
}



.table th,
.table td {
  border: none;    
  vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
}



.bullet-line-list {
  position: relative;
  list-style: none;
  padding: 0;
}

.bullet-line-list li {
  position: relative;
  padding-left: 50px;
  /* Adjust as needed */
  margin-bottom: 20px;
  /* Adjust space between items */
}

.bullet-line-list li:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 10px;
  /* Adjust to align with the center of the bullet */
  border: 4px solid #E9EDFB;
  border-radius: 50%;
  background: #1F3BB3;
  z-index: 2;
}

.bullet-line-list li:after {
  content: '';
  position: absolute;
  width: 2px;
  /* Width of the line */
  height: 100%;
  /* Make line full height */
  left: 12px;
  /* Adjust to align with the center of the bullet */
  top: 35px;
  /* Adjust to start from the bottom of the bullet */
  background: #adb5bd;
  /* Color of the line */
  z-index: 1;
}

/* Remove line from the last item */
.bullet-line-list li:last-child:after {
  display: none;
}

/* Close button */
.closebtn {
  color: red;
  font-size: 36px;
}

.closebtn:hover {
  color: red;
  font-size: 48px;
}

.bootstrap-table .fixed-table-container .table thead th .both {
  background-image: url("data:image/svg+xml; charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' fill='%23000000' opacity='0.56'%3E%3Cpolygon points='50,10 70,45 30,45'/%3E%3Cpolygon points='30,55 70,55 50,90' /%3E%3C/svg%3E");
  background-size: 1.1875rem, 1.1875rem;
}

.bootstrap-table .fixed-table-container .table thead th .asc {
  background-image: url("data:image/svg+xml; charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000' opacity='0.69'%3E%3Cpolygon points='50,10 70,45 30,45'/%3E%3C/svg%3E");
  background-size: 1.1875rem, 1.1875rem;
}

.bootstrap-table .fixed-table-container .table thead th .desc {
  background-image: url("data:image/svg+xml; charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000' opacity='0.69'%3E%3Cpolygon points='30,55 70,55 50,90' /%3E%3C/svg%3E");
  background-size: 1.1875rem, 1.1875rem;
}

/* IE10 & 11 want URL encoded open and close characters */

.bootstrap-table .fixed-table-container .table tbody tr .card-view {
  display: flex;
  padding: 8px;
}

.bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
  font-weight: 700;
  display: inline-block;
  min-width: 35%;
  width: auto !important;
  text-align: left !important;
  overflow-wrap: break-word;
  white-space: normal;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.separator hr {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.separator span {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.bootstrap-table .fixed-table-pagination>.pagination-detail .pagination-info {
  line-height: 34px;
  margin-right: 5px;
  font-size: 14px;
}

.footer {
  background: #ffffff;
  padding: 20px 2.45rem;
}

  /*------------------------ Responsiveness ----------------------------------------------------------  */
  /* SCreen size under 991px(Tablet) */

  @media screen and (max-width: 991px) {

    .sidebar-offcanvas {
      display: none;
      position: fixed;
      max-height: calc(100vh - 97px);
      top: 0;
      bottom: 0;
      overflow: auto;
      right: -250px;
      z-index: 9999; /* High z-index to place it on top */
      /* Adjust the sidebar width accordingly */
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }

    .sidebar-offcanvas.active {
    
      right: 0;
    }

    .main-panel {
      flex: 1;
      margin-left: 0px;
      /* Adjust to match the width of the sidebar */
      transition: padding-left 0.25s ease-out;
    }

    .navbar .navbar-brand-wrapper {
      background: #ffff;
      transition: width 0.25s ease, background 0.25s ease;
      -webkit-transition: width 0.25s ease, background 0.25s ease;
      -moz-transition: width 0.25s ease, background 0.25s ease;
      -ms-transition: width 0.25s ease, background 0.25s ease;
      width: 180px;
      height: 50px;
      padding: 20px 5px;
    }

    .navbar .navbar-menu-wrapper {
      background: #fff;
      transition: width 0.25s ease;
      -webkit-transition: width 0.25s ease;
      -moz-transition: width 0.25s ease;
      -ms-transition: width 0.25s ease;
      color: #6C7383;
      padding-left: 0.5rem;
      padding-right: 0.187rem;
      padding-top: 30px;
      padding-bottom: 25px;
      width: calc(100% - 180px);
      height: 50px;
      box-shadow: none;
    }
    .contwrapper {

      border: 1px solid #dee2e6;
      padding: 1rem;
      background-color: #ffffff;
    }

   



  }
   /* Screen size under 576(phone) */
   @media (max-width: 576px) {
    .sidebar {
      display: none;
      right: -255px; /* Hide the sidebar off-screen */
  }

 .sidebar-offcanvas{
    display: none;
      right: 0; /* Show the sidebar when active */
  }
  .main-panel {
    margin-left: 0; /* Ensure the main panel takes full width */
    width: 100%;
}
    .contwrapper {
      border: none;
      padding: 1rem;
    }
    .row > .col {
      flex: 0 0 50%;
      max-width: 50%;
      border-bottom: 2px solid #F4F5F7;
      margin-bottom: 1rem;
     
  }
    .home-tab .statistics-details {
      margin-bottom: 15px;
  }
  .btn.btn-lg {
    font-size: 0.75rem !important;
    padding: 1rem;
}
  }